!!!
%html 
  %head  
    %link(rel="stylesheet" type="text/css" href="css/bootstrap.css")
    %link(rel="stylesheet" type="text/css" href="css/main.css")
    %link(rel="stylesheet" type="text/css" href="css/stat.css")
    %title Ae charts  
  %body
    %div{:class => "container"}
      %div{:class => "row"}
        %h1{:class => "pull-left", :id => "page-title" } Statistique AE
        %img{:class => "pull-right", :src => "images/ae.jpg"}
      %div{:class => "row"}
        %button{:class => "btn btn-success", :id => "depenses-btn" }      Dépenses mensuel
        %button{:class => "btn",             :id => "rechargements-btn"}  Rechargements mensuel
        %div{:class => "well span12", :id => "monthly_balance", :style => "min-height:500px" }
          %img{:class => "loader", :src => "images/loader-big.gif"}

      %div{:class => "row"}
        %h4{:class => "btn btn-success", :id => "depenses-btn" } Dépense horraire
        %div{:class => "well span12", :id => "depense_horraire", :style => "min-height:500px" }
          %img{:class => "loader", :src => "images/loader-big.gif"}

      %div{:class => "row"}
        %div{:class => "well span6", :style => "padding:50px", :id => "top_conso", :style => "min-height:200px;padding-left:50px;padding-top:20px" }

  %script{:type => "text/javascript",
          :src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" }
  %script{:type => "text/javascript", :src => "https://www.google.com/jsapi" }
  %script{:type => "text/javascript", :src => "js/main.js" }

  :javascript
    APP.cookie = '#{cookie}';